{% extends 'login.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %}
    OTP Verification
{% endblock %}
{% block body_block %}
    <div class="container-fluid login_container">
        <form method="POST">
            {% csrf_token %}

            <h1>OTP VERIFICATION</h1>
            <p></p>
            {% if error %}
                <p class="alert-danger alert p-1 rounded">{{ error }}</p>
            {% endif %}
            {% if messages %}
                <p class="alert-success">OTP Sent</p>
            {% endif %}

            <div class="input-wrapper">
                <input type="number" name="otp" placeholder="Enter your otp"/>
                <i class="bx bxs-user-circle"></i>
            </div>

            <div>
                <button type="submit">
                    Sign In
                    <i class='bx bx-right-arrow-alt'></i>
                </button>
            </div>
            <div class="">
                <a href="{% url 'auth_app:otp_resend' hash=hash %}"
                   style="display: block;padding: 10px;text-decoration: none">Send OTP Again?</a>
            </div>
        </form>

    </div>
{% endblock %}
