{% extends 'login.html' %}

{% load crispy_forms_tags %}
{% block title_block %}
    Password Reset Confirm
{% endblock %}
{% block body_block %}
    <style>
    #hint_id_new_password1{
        display: none;
    }
    #div_id_new_password1 label,#div_id_new_password2 label{
        float: left;
    }
    </style>

    <!--Password Reset Confirm-->
    <div class="container-fluid login_container">
        <form method="POST">
            <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
            <hr>
            <p>Please enter your new password.</p>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>

{% endblock %}