asgiref==3.5.0
branca==0.4.2
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.0.3
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-environ==0.8.1
django-leaflet==0.28.2
django-phonenumber-field==6.1.0
django-resized==0.3.11
djangorestframework==3.13.1
folium==0.12.1.post1
idna==3.3
Jinja2==3.1.1
MarkupSafe==2.1.1
numpy==1.22.3
phonenumbers==8.12.46
Pillow==9.2.0
psycopg2-binary==2.9.3
pytz==2022.1
requests==2.27.1
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
